.intro {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  .image-container {
    width: 1024px;
    height: 300px;
    overflow: hidden;
    border-radius: 30%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 40% center
    }
  }
}